- p_class = Product
%table.table.table-striped
  %thead
    %tr
      %th= 'Cantidad'
      %th= p_class.human_attribute_name(:name)
      %th= p_class.human_attribute_name(:description)
      %th= p_class.human_attribute_name(:unit_price)
  %tbody
  - products.each do |p|
    %tr
      %td
        %input{type: 'text', style: 'width: 50px;'}
      %td= p.name
      %td= p.description
      %td= p.unit_price
      %td
        .btn.btn-mini.btn-danger= 'Borrar'