= form_for @product, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_field :description, :class => 'text_field'
  .control-group
    = f.label :weigth, :class => 'control-label'
    .controls
      = f.text_field :weigth, :class => 'text_field'
  .control-group
    = f.label :volume, :class => 'control-label'
    .controls
      = f.text_field :volume, :class => 'text_field'
  .control-group
    = f.label :unit_price, :class => 'control-label'
    .controls
      = f.text_field :unit_price, :class => 'text_field'
  .control-group
    = f.label :stock, :class => 'control-label'
    .controls
      = f.text_field :stock, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), products_path, :class => 'btn'
